<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Note</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div class="card">
        <form action="/list" method="post">
            <input type="text" placeholder="Enter Title" name="title" required>
            <textarea name="note" placeholder="Write Note" required></textarea>
            <button>Submit Note</button>
        </form>
    </div>
    
</body>
</html>